* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.rel {
  position: relative;
}

.text-centered {
  text-align: center;
}

.flexer {
  display: flex;
}
.flexer.col {
  flex-direction: column;
}
.flexer > .grower {
  flex-grow: 1;
}
.flexer.end-cross {
  align-items: flex-end;
}

.flexer.wrap {
  flex-wrap: wrap;
}

.flexer.between {
  justify-content: space-between;
}

.flexer.center-cross {
  align-items: center;
}

.c_1 {
  color: #0282f9;
}

.c_2 {
  color: white;
}

.bc_1 {
  background-color: #0282f9;
}

.bc_2 {
  background-color: white;
}

header {
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 139px;
  padding-bottom: 400px;
}
header .banner {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bolder;
  background-color: #0282f9;
  text-align: right;
  color: white;
}
header nav {
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: white;
}
header nav .logo {
  height: 80px;
}
header nav .navbar {
  padding-left: 100px;
  padding-right: 100px;
}
header nav .navbar > li {
  font-size: 19px;
  margin-right: 41px;
  font-weight: 500;
  opacity: 0.8;
}
header nav .navbar > li.active {
  position: relative;
  color: #0282f9;
}
header nav .navbar > li.active::after {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  border-bottom: 5px solid #0282f9;
  bottom: -47px;
}
header nav .search {
  border-bottom: 2px solid #0282f9;
}
header nav .search input {
  font-size: 15px;
  padding-bottom: 4px;
  border: none;
  outline: none;
}
header nav .search input::-moz-placeholder {
  text-align: right;
  opacity: 0.8;
}
header nav .search input:-ms-input-placeholder {
  text-align: right;
  opacity: 0.8;
}
header nav .search input::placeholder {
  text-align: right;
  opacity: 0.8;
}

footer {
  height: 300px;
  background-repeat: no-repeat;
  background-image: url("../img/dc-logo-bg.png"), url("../img/footer-bg.jpg");
}
footer .footer-list li {
  opacity: 0.7;
}

.comics-collection {
  position: relative;
  padding-top: 53px;
  padding-bottom: 20px;
  background-color: #1c1c1c;
}
.comics-collection .super {
  position: absolute;
  top: -27px;
  padding: 8px 33px;
  font-size: 34px;
}
.comics-collection .comic {
  text-transform: uppercase;
  width: calc( 100% / 6 );
  padding-left: 29px;
}
.comics-collection .comic:nth-of-type(6n+1) {
  padding-left: 0;
}
.comics-collection .comic img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.comics-collection .comic span {
  padding-top: 13px;
  padding-bottom: 48px;
  font-weight: 500;
}

.btn {
  font-weight: bolder;
  padding: 8px 38px;
}

.subnav {
  padding-top: 3.1em;
  padding-bottom: 3.1em;
}
.subnav img {
  vertical-align: middle;
  padding-right: 1em;
  height: 3.3em;
}

.thumb {
  position: absolute;
  border: 1px solid white;
  top: -100px;
  left: -200px;
}
.thumb .inner {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.thumb .inner img {
  display: block;
}
.thumb .inner span {
  background-color: #00a9d9;
  position: absolute;
  padding: 3px;
}
.thumb .inner span.top-left {
  left: 0;
  top: 0;
}
.thumb .inner span.bottom {
  width: 100%;
  left: 0;
  bottom: 0;
}

.buy-comic {
  background-color: #55ba59;
}
.buy-comic span {
  opacity: 0.6;
}

.table {
  width: 50%;
}
.table .label {
  width: 30%;
}
.table li {
  border-bottom: 1px solid black;
}