.comic-main {
    &::before {
        content: '';
        display: block;
        background-color: $color1;
        height: 80px;
        width: 100%;
    }
}
.thumb {
    position: absolute;
    border: 1px solid white;
    top: - 313px;
    left: 0;
    .inner {
        position: relative;
        width: max-content;
        img {
            display: block;
        }
        span {
            background-color: #00a9d9;
            position: absolute;
            padding: 3px;
            &.top-left {
                left: 0;
                top: 0;
            }
            &.bottom {
                width: 100%;
                left: 0;
                bottom: 0;
            }
        }
    }
}
.comic {
    padding-top: 71px;
    padding-bottom: 63px;
    .comic-description {
        width: 47%;
        padding-right: 38px;
        .comic-title {
            font-size: 34px;
            text-transform: uppercase;
            color: #003f5e;
            padding-bottom: 21px;
            font-weight: 600;
        }
        .buy-comic {
            background-color: #55ba59;
            border-bottom: 1px solid #357739;
            &>span {
                &.op {
                    opacity: .6;
                }
                padding: 14px 20px;
                font-weight: 700;
            }
          
        }
        .comic-desc {
            color: #555555;
            padding-top: 13px;
            font-size: 17px;
            line-height: 25px;
        }
    }
    .adv {
        color: #555555;
        font-weight: 600;
        padding-bottom: 5px;
    }

}



.table {
    width: 50%;
    .label {
        width: 30%;
    }
    li {
        border-bottom: 1px solid black;
    }
}