* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.flexer {
    display: flex;
}
.flexer.wrap {
    flex-wrap: wrap;
}
.flexer.between {
    justify-content: space-between;
}
.flexer.center-cross {
    align-items: center;
}

.c_1 {
    color: $color1;
}
.c_2 {
    color: $color2;
}

.bc_1 {
    background-color: $color1;
}
.bc_2 {
    background-color: $color2;
}