
.comics-collection {
    position: relative;
    //test
    padding-top: 53px;
    padding-bottom: 20px;
    background-color: #1c1c1c;
    .super {
        position: absolute;
        top: -27px;
        padding: 8px 33px;
        font-size: 34px;
    }
    .comic {
        text-transform: uppercase;
        width: calc( 100% / 6 );
        padding-left: 29px;
        &:nth-of-type(6n+1) {
            padding-left: 0;
        }
        img {
            width: 100%;
            //test
            height: 200px;
            object-fit: cover;
        }
        span {
            padding-top: 13px;
            padding-bottom: 48px;
            font-weight: 500;
        }
       
    }
}

.btn {
    font-weight: bolder;
    padding: 8px 38px;
}


.subnav {
    padding-top: 3.1em;
    padding-bottom: 3.1em;
    img {
        vertical-align: middle;
        padding-right: 1em;
        height: 3.3em;
    }
}